@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 255 100% 97%;
    --foreground: 264 30% 25%;
    --card: 255 100% 97%;
    --card-foreground: 264 30% 25%;
    --popover: 255 100% 97%;
    --popover-foreground: 264 30% 25%;
    --primary: 262 49% 47%;
    --primary-foreground: 0 0% 100%;
    --secondary: 258 65% 92%;
    --secondary-foreground: 264 30% 25%;
    --muted: 258 65% 92%;
    --muted-foreground: 259 35% 55%;
    --accent: 258 65% 92%;
    --accent-foreground: 264 30% 25%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;
    --border: 258 65% 88%;
    --input: 258 65% 88%;
    --ring: 262 49% 47%;
    --radius: 0.75rem;
    --chart-1: 262 70% 50%;
    --chart-2: 280 60% 45%;
    --chart-3: 300 80% 55%;
    --chart-4: 240 65% 60%;
    --chart-5: 320 75% 55%;
    --sidebar-background: 264 30% 20%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 0 0% 98%;
    --sidebar-primary-foreground: 264 30% 20%;
    --sidebar-accent: 262 49% 57%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 264 30% 30%;
    --sidebar-ring: 262 49% 57%;
  }
  .dark {
    --background: 264 30% 10%;
    --foreground: 0 0% 98%;
    --card: 264 30% 10%;
    --card-foreground: 0 0% 98%;
    --popover: 264 30% 10%;
    --popover-foreground: 0 0% 98%;
    --primary: 262 49% 67%;
    --primary-foreground: 0 0% 100%;
    --secondary: 264 30% 20%;
    --secondary-foreground: 0 0% 98%;
    --muted: 264 30% 20%;
    --muted-foreground: 259 35% 75%;
    --accent: 264 30% 20%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 264 30% 30%;
    --input: 264 30% 30%;
    --ring: 262 49% 67%;
    --chart-1: 262 70% 50%;
    --chart-2: 280 60% 45%;
    --chart-3: 300 80% 55%;
    --chart-4: 240 65% 60%;
    --chart-5: 320 75% 55%;
    --sidebar-background: 264 30% 10%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 0 0% 98%;
    --sidebar-primary-foreground: 264 30% 10%;
    --sidebar-accent: 262 49% 67%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 264 30% 20%;
    --sidebar-ring: 262 49% 67%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
